log:
  level: debug
  sync: true
  console: true
  path: ./log/logic.log
mongo:
  host: 127.0.0.1
  port: 27017
  db: im
  password: im
  user: im
  panic: false
redis:
  host: 127.0.0.1
  port: 6379
  password: 123456
  db: 0
  panic: false
http:
  port: 5556
  cors: true
  release: false
  sign: false
socket.io:
  port: 9000
gate:
  host: 127.0.0.1
  port: 5557
  mode: http
  panic: true
appkey: YourAPPKeyhere
